.test{
  color: #c3c7ce;
}
.brand2{
  color: #247881;
}
.center{
  text-align: center;
}
.red{
  color: rgba(163, 164, 167, 0.893);
}
.color1{
  color: rgb(123, 175, 175);
  height: 50px;
}
.container1{
  width: 200px;
  
}


.about-background{
  background-color: #bec7cf;
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}
.about-background-ritu{
  background-color: #c8cdce;
  font-size: 50px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
}

.nab1{
 background-color: 8D8DAA;
}

/* Footer */
.logo-m{
  padding-right: 0px;
}
.bg-footer{
  background-color: #8D8DAA
  
}
.social-media{
  font-size: 50px;
  color: #091353;
}
.brand{
  color: #46244C;
}
/* Navigation */
.icon-size{
  font-size: 300%;

}
.navigation-item{
  color: #41bac3;
  text-decoration: none;
}

.navigation-item:hover{
  font-size: 18px;
  
}

.active{
  color: rgb(225, 145, 145);
}


/* Main */
.main-background{
  /* background-color: #D1D1D1; */
  background-color: #DFDFDE;
  margin: 40px;
  border-radius: 50px;
}

.small-input{
  border-color: #a2a7cb;
  border-style: hidden;
  border-radius: 10px;
  height: 40px;
  background-color: #ecedf3;
  width: 250px;
  text-align: center;
}
.resume-input{
  border-color: #a2a7cb;
  border-style: hidden;
  border-radius: 10px;
  height: 40px;
  background-color: #ecedf3;
  width: 100%;
  text-align: center;
}
.new-main-input-box{
  background-color: #8D8DAA;
  border-radius: 35px;
}
/* New-Main2 Style */
.main-style{
  background-color: #e0e1ef;
  border-radius: 20px;
  /* margin-left: 5px;
  margin-right: 5px;
  padding-right: 40px;
  padding-right: 40px; */
}
/* Resume  */

.resume-bg{
  background-color: #ecedf3;
  padding-top: 25px;
  /* border-radius: 30px; */
  
}
.left-resume{
  background-color: #363062;
  color: #DFDFDE;
  margin-bottom: 25px;
  border-radius: 30px;
}
.left-resume-two{
  background-color: #222223;
  color: #DFDFDE;
  margin-bottom: 25px;
  
}

.person-icon{
  font-size: 110px;
}

.phone-icon{
  
 
 
  font-size: 30px;
}
.email-icon{
 
  font-size: 30px;
}
.man-icon{
 
  font-size: 30px;
}
.location-icon{
  
  font-size: 30px;
}
.skill-icon{
 
  font-size: 30px;
}
.lng-icon{
 
  font-size: 30px;
}
.email-size{
  font-size: 12px;
}
/* Right Resume */
.right-resume{
  background-color: #ecedf3;
  color: #363062;
  border-radius: 30px;
}
/* Sin Up CSS */
.bg-sinup{
  background-color: #e8e5e5;
  border-radius: 35px;
  color: #a2a7cb;
}
.bg-sinup2{
  background-color: #e0e1ef;
}
.forgoat-align{
  margin-left: 200px;
}

.subbmit-align{
  margin-left: 30px;
}
.email{
  width: 90%;
  height: 65px;
  /* border: 3px solid rgb(95, 92, 92); */
  border-radius: 10px;
  border: hidden;
}
.download-btn{
 padding-left: 130;
}
.upload-img{
  height: 40px;
  width: 20px;
  size: 10px;
  margin: 40px;
  margin-top: 100px;
}

/* Api */

.api-container{
  background-color: #edf5f5;
  border-radius: 15px;
  /* border: 3px solid #abb0b0; */
}
.source-text{
  color: #d6d6d6;
  font-size: 19px;
  font-weight: 150;
}
.title-text{
  font-size: 28px;
  line-height: 36px;
  color: #08316e;
}
.description-text{
  font-weight: 180;
  font-size: 17px;
  line-height: 24px;
}
.content-text{
  font-size: 20px;
  line-height: 26px;
  color: #3c5e86;
}
.date-text{
  font-size: 20px;
}
.url-text{
  font-size: 80px;
  color: #163b74;
}
.heart-icon{
  font-size: 50px;
  margin-top: 19px;
  color: #ea6375;
  
}
/* Blog Page */
.ind-icon{
  color: #091353;
  background-color: #b1cfd2;
  font-size: 200px;
 margin: 50px 20px 50px 50px;
 padding: 30px 30px;
 border-radius: 25px;

}
.tech-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #c2bde6;
  color: #46244C;
  border-radius: 25px;
}
.business-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #bee6bd;
  color: #444268;
  border-radius: 25px;
}
.entertainment-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #bde4e6;
  color: #3d4c24;
  border-radius: 25px;
}
.general-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #e6bdca;
  color: #643d49;
  border-radius: 25px;
}
.helth-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #dba5ea;
  color: #685d40;
  border-radius: 25px;
}
.science-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #acdba4;
  color: #5c664c;
  border-radius: 25px;
}
.sports-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #3f5152;
  color: #383d2f;
  border-radius: 25px;
}
.python-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #80560e;
  color: #e8e2a7;
  border-radius: 25px;
}
.react-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #134504;
  color: #4cacc1;
  border-radius: 25px;
}
.java-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #0d6a6e;
  color: #a0a09f;
  border-radius: 25px;
}
.node-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #e7bdbd;
  color: #690404;
  border-radius: 25px;
}
.ai-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #ecd0af;
  color: #835252;
  border-radius: 25px;
}
.ml-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #a4a47d;
  color: #8f5037;
  border-radius: 25px;
}
.full-stack-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #1c484a;
  color: #614784;
  border-radius: 25px;
}
.mern-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #788f77;
  color: #82c868;
  border-radius: 25px;
}
.cyber-secqurity-icon{
  font-size: 200px;
  margin: 50px 20px 50px 50px;
  padding: 30px 30px;
  background-color: #39898d;
  color: #90a072;
  border-radius: 25px;
}



.button-icon{
  border: hidden;
  background-color: #d5d5e0;
  
}

.close-btn{
  color: rgb(234, 104, 104);
  font-size: 80px;
  
}
/* .category-text{
  padding-top: 50px;
} */
/* Image Gallery */
.img-serch-input{
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: hidden;
  margin-right: 20px;
  text-align: center;
  background-color: #e0f0f0;
}
.img-serch-btn{
  
  padding: 12px 50px 12px 50px;
  border-radius: 29px;
  border: none;
  color: darkgray;
  background-color: #0d6a6e;
}
.img-tags{
  
  font-size: 20px;
  font-weight: 100;
  color: #08316e;
}
.img-user{
  
  font-size: 25px;
  font-weight: 400;
  color: #abbbd1;
}
.img-likes{
  margin-left: 15px;
  
}
.img-heart-icon{
  font-size: 50px;
  margin-top: 19px;
  margin-left: 10px;
  color: #ea6375;
}

/* Start Stop Watch */
.start{
  padding: 30px;
  background-color: #2ebcc1;
  color: #fff;
  border-radius: 50%;
 
  border: hidden;
}
.start:disabled{
  background-color: #91dbdd;
}
.stop{
  padding: 30px;
  background-color: #8d7151;
  color: #fff;
  border-radius: 80%;
 
  border: hidden;
}
.reset{
  padding: 30px;
  background-color: #4eb15a;
  color: #fff;
  border-radius: 50%;
 
  border: hidden;
}
.watch-color{
  color: #08316e;
  font-size: 550%;
}
/* Resume */
 /* @media all and (max-width: 1200px) {
  .resume-media{
    
    display: none;
  }
} */
/* First Home Page */
.the-best-way{
  color: #8D8DAA;
  font-size: 400%;
  font-weight: 600;
  line-height: 150%;
  font-family:'Courier New', Courier, monospace
}
.the-best-way2{
  color: #08316e;
  font-size: 400%;
  font-weight: 600;
  line-height: 100%;
  font-family:'Courier New', Courier, monospace
}
.try-for-free{
  background-color: darkgray;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  margin-left: 10px;
}
/* Secomd Home Page */
.value-of-feature{
  font-size: 300%;
  color: #08316e;
}
.circle{
  background-color: rgb(202, 194, 194);
  padding: 15px;
  text-align: center;
  border-radius: 100%;
  margin: 20px;
  font-size: 10px;
}
.circle-2{
  background-color: rgb(194, 198, 202);
  padding: 15px;
  text-align: center;
  border-radius: 100%;
  margin: 20px;
  font-size: 10px;
}
.circle-text{
  color: #0d6a6e;
  font-size: 80%;
}
.circle-text-2{
  color: #1c484a;
  padding-top: 20px;
}
.download-your-resume{
  padding: 10px;
  background-color: #1c484a;
  text-align: center;
  color: #c3c6da;
  border-radius: 50px;

}
/* Crousel */

.team-member{
  font-size: 30px;
  font-weight: 300;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #247881;
}

/* Footer */
.footer-text{
  color: rgb(121, 121, 123);
  text-decoration: none;
  
}
.privacy-text{
  color: #08316e;
  background-color: rgb(169, 162, 162);
  border: none;
  border-radius: 20px;
  padding: 10px 30px 10px 10px
  
  
}
.cancel-btn{
  background-color: rgb(147, 70, 70);
  padding: 10px 50px 10px 50px;
  border: hidden;
  border-radius: 30px;
}
/* Contact Us */
.send-feedback{
  font-size: 150%;
  color: #0d6a6e;
}
/* Image Input */
.profile-pic{
 color: #08316e;
  
}

/* Resume Temp Three */
.resume-temp-2-background{
  background-color: #a8b4c6;
}
.resume-temp-3-background{
  background-color: #9bacc6;
}